
{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div><h3 style="text-align: center">{{what}}</h3></div>
                <form method="post" enctype="multipart/form-data" action="{% url 'excel_import' %}"
                      class="table table-bordered form-horizontal">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="提交"/>
                </form>

            </div>

        </div>
    </div>
{% endblock%}